@font-face {
  font-family: "Roboto", sans-serif;
  src: local("Roboto"), url(./fonts/Roboto-Thin.ttf) format("ttf");
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  background-color: #2c3e50;
  color: white;
}
